.message-provider > .message,
.message-provider > .message * {
  box-sizing: border-box;
}

.message-provider > .message {
  font-size: 13px;
  position: fixed;
  left: 50%;
  bottom: -9999px;
  transform: translateX(-50%);
  width: 90%;
  max-width: 640px;
  min-height: 26px;
  line-height: 1.4;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 5px;  
  white-space: pre;
}

.message-provider > .message.show {
  animation: message-in .6s ease-out forwards;
}

.message-provider > .message.hide {
  animation: message-out .3s ease-out;
}

@keyframes message-in {
  0% {
    opacity: 0;
    bottom: 0;
  }
  50% {
    bottom: 5%;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    bottom: 5%;
  }
}

@keyframes message-out {
  0% {
    opacity: 1;
    bottom: 5%;
  }
  100% {
    opacity: 0;
    bottom: 5%;
  }
}